@model IEnumerable<DiarioEmocional.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Emoções</h1>

    <p>

        <a asp-action="Create">
            <svg class="bi bi-plus-circle botaotopo btn btn-light" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            </svg>
        </a>

    </p>
<div class="row align-content-center">


        <table class="card-table table">
                <thead class="col">
                    <tr>
                        <th scope="col" style="width: 16.66%;">
                            @Html.DisplayNameFor(model => model.Intensidade)
                        </th>
                        <th scope="col" style="width: 16.66%;">
                            @Html.DisplayNameFor(model => model.Situacao)
                        </th>
                        <th scope="col" style="width: 16.66%;">
                            @Html.DisplayNameFor(model => model.Comportamento)
                        </th>
                        <th scope="col" style="width: 16.66%;">
                            Emoção
                        </th>
                        <th scope="col"  style="width: 10%;"></th>
                        <th scope="col" style="width: 23.32%;"></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Intensidade.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Comportamento)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Emocao.Descricao)
                        </td>
                        <td>
                            @if (item.EnviarPsicoterapeuta == false)
                            {
                                <a asp-action="MandarParaPsicoterapeuta" class="btn btn-success" asp-route-id="@item.ID">Enviar</a>
                            }
                            else
                            {
                                <a class="alert alert-success">Enviado</a>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.ID">
                                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                </svg>
                            </a>
                            <a asp-action="Delete" class="btn btn-light" asp-route-id="@item.ID">
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </td>
                        @*<td class="col-3">
            <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.ID">Editar</a> |
            <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.ID">Detalhes</a> |
            <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.ID">Deletar</a>
        </td>*@
                    </tr>
            }
                </tbody>
            </table>
    </div>
<style>
    .botaotopo {
    z-index: 9;
    display : flex;
    position: fixed !important;
    float: right;
    display: inline;
    right: 20%;
    top:30%;
    width:100px;
    height:100px;
    border-radius: 100px;
    }
</style>