@model IEnumerable<DiarioEmocional.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Emoções</h1>

<p>
   
        <a asp-action="Create"><svg class="bi bi-plus-circle botaotopo btn btn-light" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /></svg></a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Intensidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comportamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emocao)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Intensidade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comportamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emocao.Descricao)
            </td>
            <td>
                @if (item.EnviarPsicoterapeuta == false)
                {
                    <a asp-action="MandarParaPsicoterapeuta" class="btn btn-success" asp-route-id="@item.ID">Enviar para Psicoterapeuta</a> 
                }
                else
                {
                    <a class="alert alert-success">Já enviado</a>
                }
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .botaotopo {
    z-index: 9;
    display : flex;
    position: fixed !important;
    float: right;
    display: inline;
    right: 20%;
    top:30%;
    width:100px;
    height:100px;
    border-radius: 100px;
    }
</style>