@model IEnumerable<DiarioEmocional.Models.Registro>

@{
    ViewData["Title"] = "UsuarioLogado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UsuarioLogado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Intensidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comportamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emocao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntensidadeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comportamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emocao.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
